@import "tailwindcss";

#root {
  font-family: monospace;
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2b;
}

.div-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  margin-right: 8px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}