@import "tailwindcss";

#root {
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2b;
}

.div-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
